.header{
	background: black;
	height: 13%;
	color: white;
	display: flex;
}

@media screen and (min-width: 0) {
    .header {
        padding: 0 1rem;
        justify-content: center;
    }
}

@media screen and (min-width: 768px){
    .header {
        width: 100vw;
        justify-content: space-around;
        align-items: center;
        position: fixed;
        top: 0;
        padding: 0 20px;
    }
}